<div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-header-title">
            <h4 class="m-b-10">Editar Registro</h4>
          </div>

        </div>
      </div>
    </div>
  </div>



<%= render 'form', cash: @cash %>

<%= link_to 'Show', @cash %> |
<%= link_to 'Back', cashes_path %>
