<nav class="pcoded-navbar">
  <div class="pcoded-inner-navbar main-menu">
    <div class="">
      <div class="main-menu-header">
        <img class="img-menu-user img-radius" src="<%= asset_path 'avatar-4.jpg' %>" alt="User-Profile-Image">
        <div class="user-details">
          <% if user_signed_in? %>
          
          
          <p id="more-details">
<%= current_user.email if !current_user.name.present? %>
            <i class="feather icon-chevron-down m-l-10">
            </i>
          </p>
<% end %>
        </div>
      </div>
      <div class="main-menu-content">
        <ul>
          <li class="more-details">
            <a href="#!">
              <i class="feather icon-settings"></i>Configuración
            </a>
            
            <%= link_to "Cerrar sesión" , destroy_user_session_path, method: :delete, class: 'feather icon-log-out' %>
            
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pcoded-navigation-label">Navegación</div>
  <ul class="pcoded-item pcoded-left-item">
    
  <li class="pcoded-hasmenu">
      <a href="/cashes" class="waves-effect waves-dark">
        <span class="pcoded-micon"><i class="feather icon-feather"></i></i></span>
        <span class="pcoded-mtext">Control Efectivo</span>
      </a>
      
    </li>
    
    

    <li class="pcoded-hasmenu">
      <a href="javascript:void(0)" class="waves-effect waves-dark">
        <span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
        <span class="pcoded-mtext">Informes</span>
      </a>
      <ul class="pcoded-submenu">
        
        <li class="">
          <a href="dashboard-ecommerce.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">Ingresos</span>
          </a>
        </li>
        <li class="">
          <a href="dashboard-crm.html" class="waves-effect waves-dark">
            <span class="pcoded-mtext">Egresos</span>
          </a>
        </li>
      </ul>
    </li>
    
    
    
    
    
    
    <li class=" ">
      <a href="form-select.html" class="waves-effect waves-dark">
        <span class="pcoded-micon">
          <i class="feather icon-monitor"></i>
        </span>
        <span class="pcoded-mtext">Tablero</span>
      </a>
    </li>
  </ul>
</div>
</nav>
