tr{
	border-bottom: solid;
	border-width:1px;
	border-color:#2f5b70;
	text-align:center;

}
td, th{
	text-align:center;
}
th{
	background-color:#2f5b70;
	color:white;

}
table , tr, td, th,tbody, thead, tfoot{
	page-breake-inside: avoid !important;
}
row{
	margin-left: 80px;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-hgcj{font-weight:bold;text-align:center}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-s268{text-align:center;}
.tg .tg-0lax{text-align:left;vertical-align:top}